stages:
  - test
  - deploy

image: docker:17.12.1-ce

variables:
  DOCKER_DRIVER: overlay2

services:
- docker:dind

before_script:
  - docker info

test:
  script:
    - docker run -e "container=docker" -d --name alpine alpine:latest /sbin/init
    - docker exec -e DISPLAY=:99.0 -i alpine sh -c "apk add --no-cache sudo curl php7 php7-xmlwriter php7-tokenizer ruby ruby-json ruby-io-console ruby-etc git && git clone https://github.com/INTER-Mediator/INTER-Mediator && cd INTER-Mediator && git checkout master && gem install itamae --no-doc && itamae local dist-docs/vm-for-trial/recipe.rb; dist-docs/installfiles.sh -2"
    - docker exec -e DISPLAY=:99.0 -i alpine sh -c "php -v; curl -sS https://getcomposer.org/installer | php; mv composer.phar /usr/local/bin/composer; chmod +x /usr/local/bin/composer; cd /INTER-Mediator/; composer require --dev phpunit/phpunit ^8; composer install; ./vendor/bin/phpunit --bootstrap /INTER-Mediator/vendor/autoload.php --configuration /INTER-Mediator/spec/INTER-Mediator-UnitTest/phpunit.xml /INTER-Mediator/spec/INTER-Mediator-UnitTest/INTERMediator_AllTests.php"
    - docker exec -e DISPLAY=:99.0 -i alpine sh -c "cd /INTER-Mediator/spec && ../node_modules/.bin/jest"
    - docker stop alpine
    - docker rm alpine

pages:
  stage: deploy
  script:
  - export LANG=ja_JP.UTF-8
  - uname -a
  - apk update
  - apk add --no-cache php7 php7-json php7-phar php7-iconv php7-openssl php7-dom php7-mbstring php7-pdo php7-bcmath php7-curl php7-xml php7-simplexml php7-ctype php7-tokenizer php7-xmlwriter
  - apk add --no-cache curl
  - curl -sS https://getcomposer.org/installer | php && mv composer.phar /usr/local/bin/composer && chmod +x /usr/local/bin/composer
  - apk add --no-cache git
  - apk add --no-cache bash
  - apk add --no-cache zip
  - apk add --no-cache nodejs-npm
  - mkdir public
  - cd ..
  - ls minify || git clone https://github.com/matthiasmullie/minify
  - cd -
  - composer update
  - ./dist-docs/buildup.sh --core && cd ../im_build/ && zip -r INTER-Mediator-master.zip ./INTER-Mediator/ && mv INTER-Mediator-master.zip ../INTER-Mediator/public/
  artifacts:
    paths:
    - public
  only:
  - master
