language: php

php:
  - 5.5
  - 5.4
  - 5.3
  - 5.2

env:
  - DB=mysql

before_script:
  - pear install pear/Crypt_RSA
  - sh -c "if [ '$DB' = 'mysql' ]; then mysql -u root < ./dist-docs/sample_schema_mysql.txt; fi"
  - cd develop-im/INTER-Mediator-UnitTest

script:
  - phpunit DB_PDO_Test.php
  - phpunit INTERMediator_Test.php
  - phpunit RSA_Test.php