language:
  - php
  - node_js

php:
  - 5.5
  - 5.4
  - 5.3
  - 5.2

node_js:
  - "0.10"

#env:
#  - DB=mysql
#  - DB=sqlite3
#  - DB=postgres

matrix:
  allow_failures:
    - env: "DB=sqlite3"
    - env: "DB=postgres"

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 5
  - npm install
  - node_modules/.bin/buster-server &
  - sleep 5
  - firefox http://localhost:1111/capture &
  - sleep 5
  - mysql -u root < ./dist-docs/sample_schema_mysql.txt
  - sqlite3 /tmp/sample.sq3 < ./dist-docs/sample_schema_sqlite.txt
  - chmod 666 /tmp/sample.sq3
  - psql -c 'create database test_db;' -U postgres
  - psql -U postgres -f ./dist-docs/sample_schema_pgsql.txt test_db
#  - sh -c "if [ '$DB' = 'mysql' ]; then mysql -u root < ./dist-docs/sample_schema_mysql.txt; fi"
#  - sh -c "if [ '$DB' = 'sqlite3' ]; then sqlite3 /tmp/sample.sq3 < ./dist-docs/sample_schema_sqlite.txt; fi"
#  - sh -c "if [ '$DB' = 'postgres' ]; then psql -c 'create database test_db;' -U postgres; fi"
#  - sh -c "if [ '$DB' = 'postgres' ]; then psql -U postgres -f ./dist-docs/sample_schema_pgsql.txt test_db; fi"
  - cd INTER-Mediator-UnitTest
#  - sh -c "if [ '$DB' = 'sqlite3' ]; then cat DB_PDO_Test.php | sed -e 's/mysql:dbname=test_db;host=127.0.0.1/sqlite:\/tmp\/sample.sq3/'; fi"
#  - sh -c "if [ '$DB' = 'postgres' ]; then cat DB_PDO_Test.php | sed -e s/mysql\:dbname=test_db\;host=127.0.0.1/pgsql\:host=127.0.0.1\;port=5432\;dbname=test_db/ > DB_PDO_Test.tmp; mv DB_PDO_Test.tmp DB_PDO_Test.php; fi"

script:
  - phpunit DB_PDO-MySQL_Test.php
  - phpunit DB_PDO-PostgreSQL_Test.php
  - phpunit DB_PDO-SQLite_Test.php
  - phpunit DB_Proxy_Test.php
  - phpunit DB_Settings_Test.php
  - phpunit DataConverter_AppendPrefix_Test.php
  - phpunit DataConverter_AppendSuffix_Test.php
  - phpunit DataConverter_Currency_Test.php
  - phpunit DataConverter_FMDateTime_Test.php
  - phpunit DataConverter_MySQLDateTime_Test.php
  - phpunit DataConverter_NumberBase_Test.php
  - phpunit INTERMediator_Test.php
  - phpunit MediaAccess_Test.php
  - phpunit RSA_Test.php
  - cd ..
  - npm test
