#container {
    display: flex;
    flex-direction: row;
}

#header {
    width: 100%;
    text-align: center;
    background-color: #2a2780;
    color: white;
    font-size: 160%;
    padding: 8px 0;
}

#content {
    overflow: scroll;
}

.stepbox {
    width: 100%;
    margin: 0;
}

td.accessary {
    width: 20px;
    text-align: right;
}

td.accessary::after {
    content: "︎▶";
    color: #9b9b9b;
}

td {
    height: 32px;
    font-size: 130%;
}

#IM_CREDIT {
    width: 100%;
    white-space: nowrap;
}

.IM_Button_StepBack {
    position: absolute;
    top: 8px;
    left: 4px;
    width: 40px;
    cursor: pointer;
    color: #9393ee;
}

.IM_Button_StepInsert {
    position: absolute;
    top: 8px;
    right: 4px;
    width: 40px;
    cursor: pointer;
}

input   {
    width: 100%;
    border: gray 2px solid;
    margin-bottom: 4px;
}

textarea   {
    width: 100%;
    min-height: 500px;
    border: gray 2px solid;
}

div.title {
    max-width: 100%;
}

div.memo {
    max-width: 100%;
}
