<html>
<head lang="ja">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title></title>
    <script type="text/javascript" src="definitin_file_full.php"></script>
    <script type="text/javascript">
        window.onload = function () {
            if (INTERMediatorOnPage.INTERMediatorCheckBrowser(document.getElementById('nonsupport'))) {
                INTERMediator.construct(true);
            }
        }

        INTERMediatorOnPage.doAfterConstruct = function () {
            var node = document.getElementById('container');
            node.style.display = "block"
        }
    </script>
</head>
<body onload="INTERMediator.construct()">
<div id="nonsupport" style="background-color:#333333">
    <div style="text-align:center;color:yellow">If you see this, you must use any unsupported web browser. Or
        constructing the page.
    </div>
    <div style="text-align:center;color:yellow">この表示が見えている場合、描画処理中です。しばらくお待ちください。長時間見えている場合は、非対応ブラウザで参照しています。</div>
</div>
<div id="container" style="display: none">
    #### Here is the page content area. #####
</div>
</body>
</html>