parameters:
    level: 7
    paths:
        - ../src/php
        - INTER-Mediator-UnitTest
    fileExtensions:
        - php
    ignoreErrors:
        - '#Instantiated class RetrieveFM7Data not found\.#'