name: PHP Composer

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    services:
      mysql: # https://qiita.com/sayama0402/items/e863ffb597ce87bf2e2f
        image: mysql:5.7
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: EeLeBui7%Eesa4oto
        options: --health-cmd "mysqladmin ping -h localhost" --health-interval 20s --health-timeout 10s --health-retries 10

      postgres:
        image: postgres:12
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: EeLeBui7%Eesa4oto
          POSTGRES_DB: test_db
#        volumes:
#          - /home/runner/work/INTER-Mediator/INTER-Mediator/dist-docs/sample_schema_pgsql.txt:/docker-entrypoint-initdb.d/sample_schema_pgsql.sql
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
    steps:
      - uses: actions/checkout@v2

      #    - name: Validate composer.json and composer.lock
      #      run: composer validate --strict

      - name: Print Env Varialbles
        run: printenv
      - name: PHP Module Checking
        run: php -m
      - name: Cache Composer packages
        id: composer-cache
        uses: actions/cache@v2
        with:
          path: vendor
          key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-php-

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress

      - name: Setup MySQL
        run: |
          mysql -h 127.0.0.1 --port 3306 -u root --password=EeLeBui7%Eesa4oto < ./dist-docs/sample_schema_mysql.txt
          mysql -h 127.0.0.1 --port 3306 -u root --password=EeLeBui7%Eesa4oto -e "CREATE USER IF NOT EXISTS 'web'@'172.18.0.1' IDENTIFIED BY 'password';"
          mysql -h 127.0.0.1 --port 3306 -u root --password=EeLeBui7%Eesa4oto -e "GRANT SELECT, INSERT, DELETE, UPDATE ON TABLE test_db.* TO 'web'@'172.18.0.1';"
          mysql -h 127.0.0.1 --port 3306 -u root --password=EeLeBui7%Eesa4oto -e "GRANT SHOW VIEW ON TABLE test_db.* TO 'web'@'172.18.0.1';"

      - name: Setup PostgreSQL
        run: psql postgresql://postgres:EeLeBui7%25Eesa4oto@127.0.0.1:5432/test_db < ./dist-docs/sample_schema_pgsql.txt

      - name: Check MySQL
        run: mysql -h 127.0.0.1 --port 3306 -u web --password=password -e "select * from person;" test_db

      - name: Setup SQLite
        run: |
          touch sample.sq3
          sqlite3 sample.sq3 < ./dist-docsãƒ»sample_schema_sqlite.txt
          chmod 777 sample.sq3
#          chown www-data sample.sq3

      - name: Test of PHP Code
        run: composer test

      - name: Test of JavaScript Code
        run: composer jest

        # Add a test script to composer.json, for instance: "test": "vendor/bin/phpunit"
        # Docs: https://getcomposer.org/doc/articles/scripts.md

        # - name: Run test suite
        #   run: composer run-script test
